@charset "UTF-8";
html,body{margin:0;padding:0;font-family: 'Kaushan Script', cursive;font-family: 'Noto Sans KR', sans-serif;}
body{overflow-x:hidden}
header{background:black;color:white;margin:0;}
header h1{margin:0;}
.cartForm{margin:20px;}
.cartForm h3{text-align:center;padding:20px 0}
.cartForm .cart_empty{padding-top:120px}
table{width:100%;border:1px solid lightgray}
.cartForm table tr td{padding:20px;text-align:right}
input[type="submit"]{border-radius:0;background:black;color:white;padding:5px 10px;border:1px solid white;font-weight:bold;}
input[type="button"]{border-radius:0;background:white;color:black;padding:5px 10px;border:1px solid lightgray;font-weight:bold;}
input[type="number"]{font-size:18px;padding:5px 0 5px 10px;border:1px solid lightgray;border-radius:0;width:60px;height:30px;line-height:30px;box-sizing:border-box;text-align:center;margin-right:-6px;}
select{border:1px solid black;padding:3px 5px}
input[type="button"].modify{background:lightgray;color:black;border-color:lightgray}
.total{appearance:none;font-size:20px;border:none;text-align:right;}
#purchase{font-size:22px;padding:20px 100px;vertical-align:bottom;}
h1{margin:0;padding:0}
.header_menu{overflow:hidden;background:black;color:white;padding-right:20px}
.header_menu h1{float:left;padding:20px 40px}
.header_menu .logo{
	margin:0;
	text-decoration: none;
	color:white;
	font-size: 32px;
	vertical-align:top
}
.header_menu ul{
	float: right;
	margin-top:25px;
	text-align: center;
	color:white;
}
.header_menu ul li{
	float: left;
	text-decoration: none;
	list-style: none;
	color: white;
	margin: 0 10px 0 10px;
	font-size:16px;
	line-height:30px;
}
.header_menu ul a{
	text-decoration: none;
	list-style: none;
	color: white;
	line-height:28px
}
.header_menu ul a:hover{color:#59b1eb}
.header_menu input{border-radius:0;border:1px solid white;background:transparent;color:white;padding:5px 30px;transition:0.5s}
.header_menu input:hover{cursor:pointer;background:rgba(255,255,255,0.5);}
.header_menu .user_grade{padding:2px 10px 0 0}
.login_frm{
	width: 600px;
	height: 400px;
	text-align: center;
}
.header_menu a{font-size:16px;vertical-align:middle}
.login_frm{
	width: 520px;
	height: 350px;
	margin:200px auto 0;
}
form{
	
}
form fieldset{
	width: 620px;
	height: 240px;
}
form legend{
	text-align: center;
}
form label{
	width: 20%;
	height: 20px;
	display: inline-block;
	margin: 0 5% 0 5%;	
}
form .gender label{width:auto;margin:0}
form .info{
	width: 55%;
	height: 20px;
	margin: 20px 5% 20px 0;
	border: none;
	outline: none;
	box-shadow: 0 1px 0 0 black;
}
form .info:focus{
	box-shadow: 0 1px 0 0 rgb(89, 177, 235);
}
form .btn1{
	width: 60%;
	height: 30px;
	text-align: center;
	margin: 0 auto;
}
form .btn1 input{
	width: 40%;
	height: 30px;
	margin: 20px 10px 0 10px;
	border: 1px solid black;
	background-color: black;
	color:white;
}
form .btn1 input:hover{cursor:pointer;}
form .btn1 input:active{
	box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
	position: relative;
	top:-2px;	
}
h2{float:left;margin:15px 0}
.product_list a{color:black;text-decoration:none;}
.member_list {
	width: 971px; /* 1024*768로 해상도를 맞추어서 설계 */
	/* 가운데 정렬을 위한 바깥쪽 여백 설정 */
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

.user_info {
	width: 971px; /* 1024*768로 해상도를 맞추어서 설계 */
	/* 가운데 정렬을 위한 바깥쪽 여백 설정 */
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}


table {
	width: 100%;
	border-collapse: collapse;
	font-size: 14px; /* 글꼴 크기 */
	line-height: 24px; /* 줄 간격 */
	border-top:4px solid black;
}

table td,th {
	padding: 5px; /* 안쪽 여백 */
	border-bottom:1px solid #ddd;
}
table td{font-weight:bold}

th {
}

img {
	width: 220px; /* 이미지 너비(가로) */
	height: 300px; /* 이미지 높이(세로) */
}

.cart_img {
	width: 125px; /* 이미지 너비(가로) */
	height: 150px; /* 이미지 높이(세로) */
}

a {
	text-decoration: none; /* 링크 밑줄 없애기 */
	color: black; /* 글 색상 */
}

a:HOVER {
	text-decoration: underline; /* 밑줄 */
	color: #59b1eb; /* 글 색상 */
}

input{border-radius:0;border:1px solid black;background:white;padding:5px 10px}
input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:hover{background:black;color:white;cursor:pointer}
input[type="password"]{appearance:none}
input:focus{border-radius:0}
.product_list{padding:30px}
#wrap{padding:20px}
.nav_menu {
   width: 100%;
   height: 70px;
   display: block;
   margin: 0 auto;
   text-align: center;
    overflow:hidden;
}

.nav_menu ul {
    width: 100%;
    height: 100%;
   display: block;
   margin: 0;
    padding: 0;
    text-align: center;
}

.nav_menu ul li{
    display: inline-block;
    list-style: none;
    width: 12.5%;
    height: 70px;

}

.nav_menu a {
    display: block;
    text-decoration: none;
    height: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #000;
}

.nav_menu input{
   width: 100%;
    display: block;
    border: none;
    line-height: 70px;
    font-size:15px
}

.nav_menu li :hover{
    background-color: rgb(245, 245, 245);
    color: black;
}

section{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   margin-top:10px;
   padding: 0 5px 0 10px;
   justify-content:center;
}

.list_box{ 
   text-align: center;
   margin:3px;
   padding-top:20px;
   border:1px solid #ddd
}
.list_box:hover{cursor:pointer;background:rgb(245, 245, 245)}

.list_box .list_img {
   width: 100%;
   height: 150px;
   padding: 0;
}

.list_box .list_img img {
   width: 125px;
   height: 150px;
   justify-content: center;
   align-items: center;
   marigin: 0 auto;
   padding: 0 auto;
}

.list_box .article_info {
   width: 100%;
   text-align: center;
}

.list box p {
   marigin: 0;
}
.list_box .pbrand {
   width: 150px;
   padding: 0 10px 0 10px;
   display: block;
   overflow: hidden;
   font-size:14px;
   line-height:14px;
   color:gray;
   margin-bottom:0;
}

.list_box .pname{
   width: 150px;
   padding: 0 10px 0 10px;
   display: block;
   overflow: hidden;
   white-space:nowrap;
   text-overflow:ellipsis;
   margin-top:0
}

.list_box .price{
   width: 150px;
   height: 20px;
   marigin: 0 atuo;
   padding: 0 10px 0 10px;
   display: block;
   overflow: hidden;
}
.list_box .view{
   width: 150px;
   padding: 0 10px 0 10px;
   display: block;
   overflow: hidden;
   font-size:14px;
   color:lightgray;
}
.hidden{position:absolute;top:-9999px;left:-9999px}
#av_pnt,#use_pnt{width:190px;margin-right:5px;text-align:right}
.wrapper{width:960px;margin:0 auto;padding:20px 40px}
.input_wrap{margin:20px;text-align:center}
.input_wrap input[type="reset"]{border-color:#ddd}
.rest_pnt{margin-bottom:0}
.rest_pnt+p{margin-top:0;font-weight:bold;font-size:22px}
input[type="button"].bigBtn{background:black;color:white;padding:15px 40px;display:block;margin:0 auto;font-size:16px}
.pop_title{width:100%;margin-bottom:30px}
.order_info{width:800px;margin:0 auto}
.order_info table{margin-bottom:30px}
.cart_in_frm{width:900px;margin:0 auto}
.cart_in_frm .inputWrap{text-align:right;padding-right:20px;}
.cart_in_frm .inputWrap input[type="submit"]{padding:7px 20px;vertical-align:top;margin-right:5px}
.cart_in_frm td[rowspan="3"],.cart_in_frm td[rowspan="5"]{text-align:center}
.order_empty{padding:120px 0}
select#category{float:right;margin-top:20px}
.member_list #grade{float:right;margin-top:24px}
form[name="id_search_frm"]{padding-top:20px}